.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $button-color2;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}